@import '../../../common';
@import '../../../assets/styles/button';

.App {
  text-align: center;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  .App-title {
    color: white;
    font-size: 1.5em;
    margin: 0;
  }
  .start-btn {
    @include button($blue);
  }
}

