// font size
$font-size: 14px;
$font-weight: 300;

// color
$blue: #61dafb;
$green: #22c36a;
$orange: #f56e25;
$red: #f1483f;
$yellow: #f7b32b;
$white: #fff;
$black: #333;
$grey: #ccc;

// border radius
$radius: 4px;